/********************************************************************************
* 自動ルビ設定
*********************************************************************************/
/* 自動ルビ */
ruby.auto_ruby {
    /* 上に表示 */
    ruby-position: over;
}

/* 自動ルビテキスト */
rt.auto_rt {
    text-align: match-parent;
    color: white;
    filter: brightness(1.0);
    font-size: 50%;
}